# Equal-Weight S&P 500 Index Fund

## Introduction & Library Imports

The S&P 500 is the world's most popular stock market index. The largest fund that is benchmarked to this index is the SPDR® S&P 500® ETF Trust. It has more than US$250 billion of assets under management.

The goal of this section of the course is to create a Python script that will accept the value of your portfolio and tell you how many shares of each S&P 500 constituent you should purchase to get an equal-weight version of the index fund.

## Library Imports

The first thing we need to do is import the open-source software libraries that we'll be using in this tutorial.

In [1]:
import numpy as np
import pandas as pd
import requests
import xlsxwriter
import math

## Importing Our List of Stocks

The next thing we need to do is import the constituents of the S&P 500.

These constituents change over time, so in an ideal world you would connect directly to the index provider (Standard & Poor's) and pull their real-time constituents on a regular basis.

Paying for access to the index provider's API is outside of the scope of this course. 

There's a static version of the S&P 500 constituents available here. [Click this link to download them now](https://drive.google.com/file/d/1ZJSpbY69DVckVZlO9cC6KkgfSufybcHN/view?usp=sharing). Move this file into the `starter-files` folder so it can be accessed by other files in that directory.

Now it's time to import these stocks to our Jupyter Notebook file.

In [2]:
stocks = pd.read_csv('sp_500_stocks.csv')
print(stocks.Ticker[484]) #VIAC,WLTW was causing HTTP Error
stocks.drop([467,484], inplace = True )
stocks

WLTW

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[503 rows x 1 columns]

## Acquiring an API Token

Now it's time to import our IEX Cloud API token. This is the data provider that we will be using throughout this course.

API tokens (and other sensitive information) should be stored in a `secrets.py` file that doesn't get pushed to your local Git repository. We'll be using a sandbox API token in this course, which means that the data we'll use is randomly-generated and (more importantly) has no cost associated with it.

[Click here](http://nickmccullum.com/algorithmic-trading-python/secrets.py) to download your `secrets.py` file. Move the file into the same directory as this Jupyter Notebook before proceeding.

In [3]:
from secrets import IEX_CLOUD_API_TOKEN

## Making Our First API Call

Now it's time to structure our API calls to IEX cloud. 

We need the following information from the API:

* Market capitalization for each stock
* Price of each stock

In [4]:
symbol = 'AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote/?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()
print(data)

{'avgTotalVolume': 95305333, 'calculationPrice': 'close', 'change': 2.2, 'changePercent': 0.01332, 'close': 167.3, 'closeSource': 'offiacli', 'closeTime': 1723948516108, 'companyName': 'Apple Inc', 'currency': 'USD', 'delayedPrice': 167.08, 'delayedPriceTime': 1664365723158, 'extendedChange': -0.53, 'extendedChangePercent': -0.00313, 'extendedPrice': 172.37, 'extendedPriceTime': 1693814017866, 'high': 169.82, 'highSource': 'cudmt ed5ere1a liipen y', 'highTime': 1714285007736, 'iexAskPrice': None, 'iexAskSize': None, 'iexBidPrice': None, 'iexBidSize': None, 'iexClose': 166.42, 'iexCloseTime': 1716401997440, 'iexLastUpdated': None, 'iexMarketPercent': None, 'iexOpen': 165.84, 'iexOpenTime': 1651484006064, 'iexRealtimePrice': None, 'iexRealtimeSize': None, 'iexVolume': None, 'lastTradeTime': 1687943596614, 'latestPrice': 171.13, 'latestSource': 'Close', 'latestTime': 'February 25, 2022', 'latestUpdate': 1708737552513, 'latestVolume': 96257133, 'low': 164.631, 'lowSource': 'e 1elm5iydier n ceudpat', 'lowTime': 1713935996924, 'marketCap': 2731977271039, 'oddLotDelayedPrice': 166.211, 'oddLotDelayedPriceTime': 1684291573139, 'open': 169.82, 'openTime': 1667323345034, 'openSource': 'iofcalif', 'peRatio': 28.41, 'previousClose': 167.14, 'previousVolume': 147446675, 'primaryExchange': 'ANDASQ', 'symbol': 'AAPL', 'volume': 92100791, 'week52High': 183.73, 'week52Low': 119.54, 'ytdChange': -0.05830394074694814, 'isUSMarketOpen': False}

## Parsing Our API Call

The API call that we executed in the last code block contains all of the information required to build our equal-weight S&P 500 strategy. 

With that said, the data isn't in a proper format yet. We need to parse it first.

In [5]:
price = data['latestPrice']
market_cap = data['marketCap']

## Adding Our Stocks Data to a Pandas DataFrame

The next thing we need to do is add our stock's price and market capitalization to a pandas DataFrame. Think of a DataFrame like the Python version of a spreadsheet. It stores tabular data.

In [6]:
my_columns = ['Ticker', 'Stock Price', 'Market Capitalization', 'Number of Shares to buy'] 
final_dataframe = pd.DataFrame(columns = my_columns)
final_dataframe

Empty DataFrame
Columns: [Ticker, Stock Price, Market Capitalization, Number of Shares to buy]
Index: []

In [7]:
final_dataframe.append(
    pd.Series(
    [
        
        symbol,
        price,
        market_cap,
        'N/A'
    ],
        index=my_columns
    ),
    ignore_index=True
)

  Ticker  Stock Price Market Capitalization Number of Shares to buy
0   AAPL       171.13         2731977271039                     N/A

## Looping Through The Tickers in Our List of Stocks

Using the same logic that we outlined above, we can pull data for all S&P 500 stocks and store their data in the DataFrame using a `for` loop.

In [8]:
final_dataframe = pd.DataFrame(columns = my_columns)
for stock in stocks['Ticker'][:400]:
    api_url = f'https://sandbox.iexapis.com/stable/stock/{stock}/quote/?token={IEX_CLOUD_API_TOKEN}'
    response = requests.get(api_url)
    response.raise_for_status()
    if response.status_code !=204 or response.status_code !=404:
        data = response.json()
        #data = requests.get(api_url).json()
        final_dataframe = final_dataframe.append(
            pd.Series(
            [
                stock,
                data['latestPrice'],
                data['marketCap'],
                'N/A'
            ],
            index = my_columns
            ),
            ignore_index = True
        )

In [9]:
final_dataframe

    Ticker  Stock Price Market Capitalization Number of Shares to buy
0        A       134.48           41782810652                     N/A
1      AAL        17.97           11352504351                     N/A
2      AAP       209.92           13111064191                     N/A
3     AAPL       166.87         2741127673099                     N/A
4     ABBV       150.59          266117404589                     N/A
..     ...          ...                   ...                     ...
395    RHI       124.03           13823551893                     N/A
396    RJF       113.71           23632020043                     N/A
397     RL       135.86           10008702930                     N/A
398    RMD       256.11           37198415792                     N/A
399    ROK       282.51           31875883510                     N/A

[400 rows x 4 columns]

## Using Batch API Calls to Improve Performance

Batch API calls are one of the easiest ways to improve the performance of your code.

This is because HTTP requests are typically one of the slowest components of a script.

Also, API providers will often give you discounted rates for using batch API calls since they are easier for the API provider to respond to.

IEX Cloud limits their batch API calls to 100 tickers per request. Still, this reduces the number of API calls we'll make in this section from 500 to 5 - huge improvement! In this section, we'll split our list of stocks into groups of 100 and then make a batch API call for each group.

In [10]:
def chunks(lst,n):
    for i in range(0,len(lst), n):
        yield lst[i:i+n]

In [11]:
symbol_groups = list(chunks(stocks['Ticker'],100))
symbol_strings = []
for i in range(0,len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
    #print(symbol_strings[i])
final_dataframe =  pd.DataFrame(columns = my_columns)
for symbol_string in symbol_strings:
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        final_dataframe = final_dataframe.append(
            pd.Series(
                [
                    symbol,
                    data[symbol]['quote']['latestPrice'],
                    data[symbol]['quote']['marketCap'],
                    'N/A'
                ],
                index = my_columns
            ),
            ignore_index=True
        )
final_dataframe

    Ticker  Stock Price Market Capitalization Number of Shares to buy
0        A       138.44           41981926801                     N/A
1      AAL        17.70           11786752493                     N/A
2      AAP       215.49           12872827279                     N/A
3     AAPL       168.28         2764730024563                     N/A
4     ABBV       156.58          271609127754                     N/A
..     ...          ...                   ...                     ...
498    YUM       124.86           36700597637                     N/A
499    ZBH       130.60           27282765783                     N/A
500   ZBRA       438.36           22198798711                     N/A
501   ZION        72.74           11617972492                     N/A
502    ZTS       197.98           94860893243                     N/A

[503 rows x 4 columns]

## Calculating the Number of Shares to Buy

As you can see in the DataFrame above, we stil haven't calculated the number of shares of each stock to buy.

We'll do that next.

In [12]:
portfolio_size = input('Enter the value of your portfolio: ')

try:
    val = float(portfolio_size)
except ValueError:
    print("That's not a number! \nPlease try again.")
    portfolio_size = input('Enter the value of your portfolio: ')
    val = float(portfolio_size)

Enter the value of your portfolio: 10000000

In [13]:
position_size = val/len(final_dataframe.index)
for i in range(0,len(final_dataframe.index)):
    final_dataframe.loc[i, 'Number of Shares to buy'] = math.floor(position_size/final_dataframe.loc[i, 'Stock Price'])
final_dataframe

    Ticker  Stock Price Market Capitalization  Number of Shares to buy
0        A       138.44           41981926801                      143
1      AAL        17.70           11786752493                     1123
2      AAP       215.49           12872827279                       92
3     AAPL       168.28         2764730024563                      118
4     ABBV       156.58          271609127754                      126
..     ...          ...                   ...                      ...
498    YUM       124.86           36700597637                      159
499    ZBH       130.60           27282765783                      152
500   ZBRA       438.36           22198798711                       45
501   ZION        72.74           11617972492                      273
502    ZTS       197.98           94860893243                      100

[503 rows x 4 columns]

## Formatting Our Excel Output

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

XlsxWriter is an excellent package and offers tons of customization. However, the tradeoff for this is that the library can seem very complicated to new users. Accordingly, this section will be fairly long because I want to do a good job of explaining how XlsxWriter works.

### Initializing our XlsxWriter Object

In [14]:
writer = pd.ExcelWriter('recommended trades.xlsx', engine = 'xlsxwriter')
final_dataframe.to_excel(writer, 'Recommended Trades', index=False)

### Creating the Formats We'll Need For Our `.xlsx` File

Formats include colors, fonts, and also symbols like `%` and `$`. We'll need four main formats for our Excel document:
* String format for tickers
* \\$XX.XX format for stock prices
* \\$XX,XXX format for market capitalization
* Integer format for the number of shares to purchase

In [15]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_format = writer.book.add_format(
    {
        'font_color': font_color,
        'bg_color': background_color,
        'border': 1
    }
)
dollar_format = writer.book.add_format(
    {
        'num_format': '$0.00',
        'font_color': font_color,
        'bg_color': background_color,
        'border': 1
    }
)
integer_format = writer.book.add_format(
    {
        'num_format': '0',
        'font_color': font_color,
        'bg_color': background_color,
        'border': 1
    }
)

### Applying the Formats to the Columns of Our `.xlsx` File

We can use the `set_column` method applied to the `writer.sheets['Recommended Trades']` object to apply formats to specific columns of our spreadsheets.

Here's an example:

```python
writer.sheets['Recommended Trades'].set_column('B:B', #This tells the method to apply the format to column B
                     18, #This tells the method to apply a column width of 18 pixels
                     string_template #This applies the format 'string_template' to the column
                    )
```

In [16]:
#writer.sheets['Recommended Trades'].set_column('A:A', 10, string_format)
#writer.sheets['Recommended Trades'].set_column('B:B', 10, string_format)
#writer.sheets['Recommended Trades'].set_column('C:C', 10, string_format)
#writer.sheets['Recommended Trades'].set_column('D:D', 10, string_format)
#writer.save()

writer.sheets['Recommended Trades'].write('A1', 'Ticker', string_format)
writer.sheets['Recommended Trades'].write('B1', 'Stock Price', dollar_format)
writer.sheets['Recommended Trades'].write('C1', 'Market Capitalization', dollar_format)
writer.sheets['Recommended Trades'].write('D1', 'Number of Shares to buy', integer_format)

0

This code works, but it violates the software principle of "Don't Repeat Yourself". 

Let's simplify this by putting it in 2 loops:

In [18]:
column_formats = {
    'A':['Ticker', string_format],
    'B':['Stock Price', dollar_format],
    'C':['Market Capitalization', dollar_format],
    'D':['Number of Shares to buy', integer_format]
}

for column in column_formats.keys():
    writer.sheets['Recommended Trades'].set_column(f'{column}:{column}', 10, column_formats[column][1])
    writer.sheets['Recommended Trades'].write(f'{column}1', column_formats[column][0], column_formats[column][1])

## Saving Our Excel Output

Saving our Excel file is very easy:

In [19]:
writer.save()